.back-btn {
  font-size: 30px !important;
  margin-left: 1px;
}
.seats {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  .seat {
    justify-content: center;
    margin: 10px 3px;
    padding: 0px;
    text-align: center;
    display: flex;
    background: #c4c4c4;
    width: 8%;
    min-height: 26px;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    font-weight: 800;
    align-items: center;
  }
}
