.back-btn {
  font-size: 30px !important;
  margin-left: 1px;
}
.seats {
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  min-height: 25px;
  width: 7%;
  margin-left: 1.5%;
  margin-top: 18px;
  margin-right: 1.5%;
}

input[type="checkbox"]:before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
}

input[type="checkbox"]:checked:before {
  background-color: Green;
  font-size: 15px;
}
