<ion-header class="bg-header">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-icon
        class="back-btn"
        (click)="goBack()"
        name="chevron-back"
        color="light"
      ></ion-icon>
    </ion-buttons>
    <ion-title> Pick your seats</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page-content">
  <div class="seats">
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="confirmation-buttons">
      <ion-button
        expand="block"
        (click)="selectTicket()"
        size="default"
        color="danger"
      >
        Continue
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
