<ion-header class="bg-header">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-icon
        class="back-btn"
        (click)="goBack()"
        name="chevron-back"
        color="light"
      ></ion-icon>
    </ion-buttons>
    <ion-title> Pick your seats</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page-content">
  <div class="seats">
    <ng-container *ngFor="let seat of seats">
      <input
        type="checkbox"
        [checked]="seat.selected"
        (change)="selectSeat($event,seat)"
        [value]="seat.id"
        [disabled]="allSelectedSeatsLength() === 6 && !seat.selected"
      />
    </ng-container>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="confirmation-buttons">
      <ion-button
        expand="block"
        (click)="selectTicket()"
        [disabled]="!selectedSeats()"
        size="default"
        color="danger"
      >
        Continue
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
